@use 'sass:math';
// about us 페이지
.about-contents {
  padding-top: -vw(160);
  padding-bottom: -vw(200);
  .about-title {
    margin-bottom: -vw(60);
    font-weight: 700;
    font-size: min(3.6rem, -vw(36));
    line-height: min(5.6rem, -vw(56));
    text-align: center;
  }
  //인사말
  .greeting-box {
    width: -vw(1374);
    display: flex;
    gap: -vw(134);
    margin: 0 auto;
    .object-img {
      position: relative;
      flex-shrink: 0;
      width: -vw(520);
      height: -vw(720);
      img {
        width: -vw(460);
        height: -vw(620);
        border-radius: -vw(12);
        object-fit: cover;
        object-position: 20% 50%;
      }
      &::before {
        content: '';
        position: absolute;
        top: -vw(266);
        left: -vw(80);
        display: block;
        width: -vw(280);
        height: -vw(68);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='50' viewBox='0 0 200 50' fill='none'%3E%3Cpath d='M181.769 31.2354L178.79 38.3984H173.377L184.203 12.53H188.781L199.607 38.3984H194.048L191.142 31.2354H181.769ZM189.325 26.5845L186.492 19.3875L183.622 26.5845H189.325Z' fill='white'/%3E%3Cpath d='M174.426 30.9726C173.054 33.5712 171.291 35.5372 169.138 36.8704C167.056 38.1585 164.654 38.8025 161.933 38.8025C159.921 38.8025 158.04 38.4183 156.289 37.65C154.538 36.9043 152.988 35.8084 151.64 34.3621C150.528 33.1193 149.676 31.7296 149.084 30.193C148.493 28.6112 148.197 26.9616 148.197 25.2442C148.197 23.4364 148.552 21.7303 149.262 20.1259C149.971 18.4989 151.013 17.0301 152.385 15.7195C153.686 14.4992 155.142 13.5728 156.751 12.94C158.383 12.3073 160.123 11.991 161.968 11.991C164.737 11.991 167.174 12.6576 169.28 13.9908C171.457 15.3692 173.16 17.3804 174.391 20.0243H168.783C167.907 18.8718 166.902 18.0244 165.766 17.4821C164.654 16.9849 163.376 16.7364 161.933 16.7364C160.75 16.7364 159.661 16.9284 158.667 17.3126C157.65 17.7193 156.751 18.3182 155.97 19.1091C155.071 19.9452 154.396 20.8942 153.947 21.9563C153.497 23.0184 153.272 24.1256 153.272 25.2781C153.272 26.4983 153.473 27.6395 153.876 28.7016C154.302 29.7636 154.929 30.6901 155.757 31.481C156.561 32.3171 157.508 32.9611 158.596 33.4131C159.661 33.865 160.773 34.091 161.933 34.091C163.329 34.091 164.571 33.8311 165.659 33.3114C166.772 32.7916 167.742 32.012 168.57 30.9726H174.426Z' fill='white'/%3E%3Cpath d='M147.672 30.9726C146.3 33.5712 144.537 35.5372 142.384 36.8704C140.301 38.1585 137.9 38.8025 135.179 38.8025C133.167 38.8025 131.286 38.4183 129.535 37.65C127.784 36.9043 126.234 35.8084 124.885 34.3621C123.773 33.1193 122.922 31.7296 122.33 30.193C121.738 28.6112 121.443 26.9616 121.443 25.2442C121.443 23.4364 121.798 21.7303 122.507 20.1259C123.217 18.4989 124.258 17.0301 125.631 15.7195C126.932 14.4992 128.387 13.5728 129.997 12.94C131.629 12.3073 133.368 11.991 135.214 11.991C137.982 11.991 140.42 12.6576 142.526 13.9908C144.703 15.3692 146.406 17.3804 147.637 20.0243H142.029C141.153 18.8718 140.148 18.0244 139.012 17.4821C137.9 16.9849 136.622 16.7364 135.179 16.7364C133.995 16.7364 132.907 16.9284 131.913 17.3126C130.896 17.7193 129.997 18.3182 129.216 19.1091C128.316 19.9452 127.642 20.8942 127.193 21.9563C126.743 23.0184 126.518 24.1256 126.518 25.2781C126.518 26.4983 126.719 27.6395 127.122 28.7016C127.547 29.7636 128.175 30.6901 129.003 31.481C129.807 32.3171 130.754 32.9611 131.842 33.4131C132.907 33.865 134.019 34.091 135.179 34.091C136.575 34.091 137.817 33.8311 138.905 33.3114C140.017 32.7916 140.988 32.012 141.816 30.9726H147.672Z' fill='white'/%3E%3Cpath d='M121.705 38.3984H105.574V12.53H121.705V16.9772H111.016V23.1897H121.705V27.6029H111.016V33.8154H121.705V38.3984Z' fill='white'/%3E%3Cpath d='M82.6031 38.3559H77.9016V12.4695H84.2971L91.2111 30.5084L98.0559 12.4695H104.417V38.3559H99.819V20.1131L92.905 38.3559H89.4826L82.6031 20.215V38.3559Z' fill='white'/%3E%3Cpath d='M57.4426 30.0463H62.3991C62.4507 31.4491 62.8121 32.5012 63.4833 33.2026C64.1287 33.8814 65.0322 34.2208 66.1939 34.2208C67.433 34.2208 68.4011 33.904 69.0981 33.2705C69.7951 32.637 70.1436 31.7546 70.1436 30.6233C70.1436 29.492 69.7951 28.6661 69.0981 28.1457C68.5818 27.7385 67.4846 27.3086 65.8067 26.8561C64.645 26.5619 63.5866 26.1886 62.6314 25.7361C61.4698 25.1705 60.5404 24.5256 59.8434 23.8016C59.3013 23.2586 58.8883 22.6138 58.6043 21.8671C58.372 21.1883 58.2558 20.453 58.2558 19.6611C58.2558 17.3985 59.0432 15.5545 60.6179 14.1291C62.1926 12.7037 64.2191 11.991 66.6973 11.991C68.9948 11.991 70.8664 12.6471 72.312 13.9594C73.8093 15.3396 74.6354 17.2628 74.7903 19.729H69.6402C69.5628 18.5977 69.253 17.7605 68.7109 17.2175C68.1946 16.6971 67.4846 16.4369 66.5811 16.4369C65.5743 16.4369 64.7999 16.6971 64.2578 17.2175C63.7157 17.7379 63.4446 18.4846 63.4446 19.4575C63.4446 19.8195 63.4704 20.1136 63.5221 20.3399C63.6253 20.5887 63.7802 20.8037 63.9867 20.9847C64.3223 21.2788 64.7999 21.539 65.4194 21.7653C65.8067 21.901 66.452 22.082 67.3556 22.3083L69.2917 22.8513C71.2278 23.4848 72.7251 24.4464 73.7835 25.7361C74.8677 27.0031 75.4098 28.5191 75.4098 30.2839C75.4098 32.7501 74.5579 34.7751 72.8542 36.3589C71.1504 37.9879 68.9561 38.8025 66.2713 38.8025C63.6898 38.8025 61.5859 38.0106 59.9596 36.4268C58.2816 34.8203 57.4426 32.6935 57.4426 30.0463Z' fill='white'/%3E%3Cpath d='M30.0328 25.2442C30.0328 23.4364 30.3851 21.719 31.0898 20.092C31.7709 18.465 32.7926 17.0075 34.1549 15.7195C35.4702 14.4992 36.9147 13.5728 38.4883 12.94C40.1324 12.3073 41.8588 11.991 43.6673 11.991C45.4993 11.991 47.2374 12.3073 48.8815 12.94C50.5021 13.5728 51.9701 14.5105 53.2854 15.7534C54.6242 17.0414 55.6459 18.4876 56.3505 20.092C57.0786 21.719 57.4427 23.4364 57.4427 25.2442C57.4427 27.0294 57.1256 28.7128 56.4914 30.2946C55.8808 31.8539 55 33.2436 53.8491 34.4638C52.4633 35.8648 50.9132 36.9382 49.1986 37.6839C47.4605 38.4296 45.605 38.8025 43.6321 38.8025C41.6591 38.8025 39.8036 38.4183 38.0655 37.65C36.3275 36.8817 34.789 35.7858 33.4503 34.3621C32.3463 33.1193 31.5008 31.7296 30.9136 30.193C30.3264 28.6112 30.0328 26.9616 30.0328 25.2442ZM35.0709 25.2781C35.0709 26.4983 35.2705 27.6395 35.6698 28.7016C36.0926 29.7636 36.7033 30.6901 37.5018 31.481C38.3239 32.3171 39.2751 32.9611 40.3556 33.4131C41.389 33.865 42.4812 34.091 43.6321 34.091C46.1452 34.091 48.2356 33.2436 49.9032 31.5488C51.5708 29.8766 52.4046 27.7638 52.4046 25.2103C52.4046 24.1256 52.1932 23.1088 51.7705 22.1597C51.3712 21.188 50.7722 20.2954 49.9737 19.4819C49.0577 18.5102 48.1064 17.8097 47.1199 17.3804C46.11 16.951 44.9474 16.7364 43.6321 16.7364C42.4577 16.7364 41.3773 16.9284 40.3908 17.3126C39.3808 17.7193 38.4883 18.3182 37.7132 19.1091C36.8442 19.9452 36.1865 20.8942 35.7403 21.9563C35.294 23.0184 35.0709 24.1256 35.0709 25.2781Z' fill='white'/%3E%3Cpath d='M17.1947 38.3984H12.3279V12.53H18.8875C20.4627 12.53 21.6265 12.5753 22.3789 12.6658C23.5309 12.8242 24.5066 13.1411 25.306 13.6164C26.458 14.2274 27.3749 15.1553 28.0568 16.4001C28.7621 17.5996 29.1148 18.9009 29.1148 20.3041C29.1148 22.6805 28.2566 24.6268 26.5403 26.1432C24.8005 27.6822 22.4847 28.4516 19.5928 28.4516H17.1947V38.3984ZM17.1947 24.0045H19.3107C21.0505 24.0045 22.2848 23.7442 23.0137 23.2237C23.7895 22.7031 24.1774 21.8092 24.1774 20.5418C24.1774 19.2291 23.8013 18.3012 23.0489 17.758C22.3201 17.2375 21.1093 16.9772 19.4165 16.9772H17.1947V24.0045Z' fill='white'/%3E%3Cpath d='M200 49.163H198.557V47.6809H200V49.163Z' fill='white'/%3E%3Cpath d='M196.798 48.9012V45.3908H196.231V44.4445H196.798V43.0862H197.771V44.4445H198.353V45.3908H197.771V48.9012H196.798Z' fill='white'/%3E%3Cpath d='M192.853 48.9011H191.873V44.4444H192.831V44.7344C192.979 44.6072 193.136 44.5131 193.303 44.452C193.46 44.4012 193.637 44.3757 193.833 44.3757C194.384 44.3757 194.814 44.5487 195.123 44.8947C195.438 45.2457 195.595 45.7417 195.595 46.3828V48.9011H194.615V46.543C194.615 46.1207 194.548 45.818 194.416 45.6349C194.283 45.4517 194.067 45.3602 193.767 45.3602C193.423 45.3602 193.182 45.4772 193.045 45.7112C192.917 45.9351 192.853 46.3192 192.853 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M191.031 47.0772H187.604C187.688 47.3621 187.838 47.5885 188.054 47.7564C188.265 47.9192 188.513 48.0006 188.798 48.0006C189.014 48.0006 189.213 47.9472 189.395 47.8403C189.567 47.7437 189.722 47.6063 189.859 47.4282H190.95C190.719 47.9421 190.417 48.3338 190.043 48.6035C189.675 48.8731 189.26 49.0079 188.798 49.0079C188.479 49.0079 188.184 48.9494 187.914 48.8324C187.639 48.7103 187.398 48.5373 187.191 48.3135C186.99 48.0947 186.83 47.8378 186.712 47.5427C186.604 47.2527 186.55 46.9602 186.55 46.6651C186.55 46.3548 186.602 46.0597 186.705 45.7799C186.808 45.5153 186.958 45.2686 187.155 45.0397C187.376 44.7955 187.619 44.6123 187.884 44.4902C188.154 44.3732 188.447 44.3147 188.761 44.3147C189.135 44.3147 189.491 44.4037 189.83 44.5818C190.169 44.77 190.444 45.0269 190.655 45.3525C190.783 45.551 190.876 45.7723 190.935 46.0165C190.999 46.2556 191.031 46.5252 191.031 46.8254V47.0772ZM188.805 45.3144C188.535 45.3144 188.302 45.3831 188.105 45.5204C187.904 45.6629 187.754 45.8689 187.656 46.1386H189.911C189.808 45.8588 189.663 45.6502 189.476 45.5128C189.289 45.3805 189.066 45.3144 188.805 45.3144Z' fill='white'/%3E%3Cpath d='M182.185 46.6498C182.185 46.1716 182.129 45.8333 182.016 45.6349C181.903 45.4263 181.709 45.322 181.434 45.322C181.144 45.322 180.938 45.4238 180.815 45.6273C180.697 45.8257 180.638 46.1564 180.638 46.6193V48.9011H179.695V44.4444H180.594V44.7268C180.731 44.5996 180.876 44.508 181.028 44.452C181.176 44.4012 181.338 44.3757 181.515 44.3757C181.775 44.3757 182.004 44.4215 182.2 44.5131C182.402 44.6098 182.576 44.7624 182.723 44.971C182.876 44.7675 183.058 44.6148 183.269 44.5131C183.475 44.4215 183.713 44.3757 183.984 44.3757C184.46 44.3757 184.851 44.5411 185.155 44.8718C185.465 45.2075 185.62 45.6527 185.62 46.2072V48.9011H184.64V46.3217C184.64 45.9808 184.576 45.7265 184.448 45.5586C184.325 45.4009 184.143 45.322 183.903 45.322C183.613 45.322 183.414 45.4161 183.306 45.6044C183.202 45.7875 183.151 46.1106 183.151 46.5735V48.9011H182.185V46.6498Z' fill='white'/%3E%3Cpath d='M178.852 47.0772H175.426C175.509 47.3621 175.659 47.5885 175.875 47.7564C176.086 47.9192 176.334 48.0006 176.619 48.0006C176.836 48.0006 177.035 47.9472 177.216 47.8403C177.388 47.7437 177.543 47.6063 177.681 47.4282H178.771C178.54 47.9421 178.238 48.3338 177.865 48.6035C177.496 48.8731 177.081 49.0079 176.619 49.0079C176.3 49.0079 176.005 48.9494 175.735 48.8324C175.46 48.7103 175.219 48.5373 175.013 48.3135C174.811 48.0947 174.652 47.8378 174.534 47.5427C174.426 47.2527 174.372 46.9602 174.372 46.6651C174.372 46.3548 174.423 46.0597 174.526 45.7799C174.63 45.5153 174.779 45.2686 174.976 45.0397C175.197 44.7955 175.44 44.6123 175.706 44.4902C175.976 44.3732 176.268 44.3147 176.583 44.3147C176.956 44.3147 177.312 44.4037 177.651 44.5818C177.99 44.77 178.265 45.0269 178.477 45.3525C178.604 45.551 178.698 45.7723 178.757 46.0165C178.82 46.2556 178.852 46.5252 178.852 46.8254V47.0772ZM176.627 45.3144C176.357 45.3144 176.123 45.3831 175.927 45.5204C175.725 45.6629 175.575 45.8689 175.477 46.1386H177.732C177.629 45.8588 177.484 45.6502 177.297 45.5128C177.111 45.3805 176.887 45.3144 176.627 45.3144Z' fill='white'/%3E%3Cpath d='M170.198 46.4438C170.198 46.7795 170.311 47.0644 170.537 47.2985C170.763 47.5325 171.036 47.6495 171.355 47.6495C171.64 47.6495 171.896 47.5299 172.122 47.2908C172.353 47.0568 172.468 46.7923 172.468 46.4972C172.468 46.1614 172.353 45.874 172.122 45.6349C171.901 45.4059 171.64 45.2914 171.341 45.2914C171.026 45.2914 170.756 45.4034 170.53 45.6272C170.309 45.8511 170.198 46.1233 170.198 46.4438ZM169.366 48.6797H170.338C170.451 48.8323 170.594 48.9417 170.766 49.0079C170.928 49.074 171.129 49.1071 171.37 49.1071C171.685 49.1071 171.94 49.0282 172.137 48.8705C172.318 48.7179 172.444 48.4966 172.512 48.2066C172.321 48.349 172.129 48.4533 171.938 48.5195C171.746 48.5907 171.545 48.6263 171.333 48.6263C170.719 48.6263 170.208 48.4152 169.8 47.9929C169.402 47.5808 169.203 47.067 169.203 46.4514C169.203 46.1614 169.25 45.8841 169.344 45.6196C169.442 45.355 169.584 45.1261 169.771 44.9328C169.967 44.714 170.189 44.5538 170.434 44.452C170.685 44.3452 170.97 44.2917 171.289 44.2917C171.525 44.2917 171.744 44.3248 171.945 44.391C172.146 44.4622 172.34 44.5741 172.527 44.7267V44.4444H173.529V47.7716C173.529 48.4584 173.36 49.0002 173.021 49.3971C172.672 49.799 172.188 49.9999 171.569 49.9999C171.073 49.9999 170.631 49.8906 170.243 49.6718C169.83 49.4378 169.538 49.1071 169.366 48.6797Z' fill='white'/%3E%3Cpath d='M166.158 48.9927C165.519 48.9927 164.984 48.7663 164.551 48.3135C164.124 47.8607 163.91 47.3062 163.91 46.6499C163.91 46.3396 163.962 46.0445 164.065 45.7647C164.173 45.4798 164.328 45.2305 164.529 45.0168C164.736 44.7879 164.971 44.6175 165.237 44.5055C165.497 44.3936 165.789 44.3376 166.114 44.3376C166.345 44.3376 166.566 44.3733 166.777 44.4445C166.998 44.5157 167.207 44.6276 167.403 44.7803V44.4445H168.383V48.9011H167.389V48.5425C167.197 48.69 166.996 48.8019 166.784 48.8782C166.583 48.9546 166.374 48.9927 166.158 48.9927ZM167.425 46.6957C167.425 46.2989 167.303 45.9707 167.057 45.7113C166.816 45.462 166.526 45.3373 166.187 45.3373C165.829 45.3373 165.529 45.4594 165.288 45.7036C165.043 45.9529 164.92 46.2684 164.92 46.6499C164.92 47.0417 165.043 47.3673 165.288 47.6267C165.529 47.8862 165.829 48.0159 166.187 48.0159C166.517 48.0159 166.804 47.8862 167.05 47.6267C167.3 47.3622 167.425 47.0518 167.425 46.6957Z' fill='white'/%3E%3Cpath d='M160.356 48.9011H159.376V44.4444H160.334V44.7344C160.481 44.6072 160.639 44.5131 160.806 44.452C160.963 44.4012 161.14 44.3757 161.336 44.3757C161.886 44.3757 162.316 44.5487 162.626 44.8947C162.94 45.2457 163.097 45.7417 163.097 46.3828V48.9011H162.117V46.543C162.117 46.1207 162.051 45.818 161.918 45.6349C161.786 45.4517 161.57 45.3602 161.27 45.3602C160.926 45.3602 160.685 45.4772 160.548 45.7112C160.42 45.9351 160.356 46.3192 160.356 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M156.175 48.9927C155.537 48.9927 155.001 48.7663 154.569 48.3135C154.141 47.8607 153.928 47.3062 153.928 46.6499C153.928 46.3396 153.979 46.0445 154.082 45.7647C154.19 45.4798 154.345 45.2305 154.547 45.0168C154.753 44.7879 154.989 44.6175 155.254 44.5055C155.515 44.3936 155.807 44.3376 156.131 44.3376C156.362 44.3376 156.583 44.3733 156.794 44.4445C157.015 44.5157 157.224 44.6276 157.421 44.7803V44.4445H158.401V48.9011H157.406V48.5425C157.214 48.69 157.013 48.8019 156.802 48.8782C156.6 48.9546 156.391 48.9927 156.175 48.9927ZM157.443 46.6957C157.443 46.2989 157.32 45.9707 157.074 45.7113C156.834 45.462 156.544 45.3373 156.205 45.3373C155.846 45.3373 155.546 45.4594 155.306 45.7036C155.06 45.9529 154.937 46.2684 154.937 46.6499C154.937 47.0417 155.06 47.3673 155.306 47.6267C155.546 47.8862 155.846 48.0159 156.205 48.0159C156.534 48.0159 156.821 47.8862 157.067 47.6267C157.318 47.3622 157.443 47.0518 157.443 46.6957Z' fill='white'/%3E%3Cpath d='M148.465 48.9012H147.463V43.0862H148.826L150.3 47.1384L151.759 43.0862H153.115V48.9012H152.135V44.8032L150.661 48.9012H149.931L148.465 44.8261V48.9012Z' fill='white'/%3E%3Cpath d='M143.774 48.9164L142.698 47.9167C142.482 48.2779 142.236 48.5501 141.961 48.7332C141.691 48.9164 141.393 49.0079 141.069 49.0079C140.602 49.0079 140.199 48.8273 139.86 48.4661C139.531 48.11 139.367 47.6954 139.367 47.2222C139.367 46.9017 139.443 46.6092 139.595 46.3446C139.747 46.0801 139.981 45.8359 140.295 45.612C140.113 45.439 139.978 45.2584 139.89 45.0702C139.802 44.882 139.757 44.6836 139.757 44.475C139.757 44.068 139.895 43.722 140.17 43.4371C140.45 43.1522 140.794 43.0098 141.202 43.0098C141.56 43.0098 141.877 43.1548 142.152 43.4447C142.423 43.7296 142.558 44.0629 142.558 44.4444C142.558 44.6836 142.491 44.9099 142.359 45.1236C142.231 45.3373 142.042 45.5357 141.791 45.7189L142.344 46.2683L142.83 44.9786H143.884L143.125 46.978L144.407 48.1761L143.774 48.9164ZM141.069 47.9625C141.251 47.9625 141.411 47.9039 141.548 47.7869C141.695 47.6648 141.828 47.4791 141.946 47.2299L140.973 46.2683C140.762 46.4108 140.61 46.5558 140.516 46.7033C140.423 46.8508 140.376 47.0187 140.376 47.207C140.376 47.4359 140.438 47.619 140.561 47.7564C140.688 47.8938 140.858 47.9625 141.069 47.9625ZM140.737 44.4444C140.737 44.5716 140.762 44.6836 140.811 44.7802C140.87 44.8769 140.971 44.9812 141.113 45.0931C141.275 44.9913 141.393 44.8921 141.467 44.7955C141.546 44.6937 141.585 44.5818 141.585 44.4597C141.585 44.3223 141.546 44.2104 141.467 44.1239C141.388 44.0425 141.288 44.0018 141.165 44.0018C141.032 44.0018 140.929 44.04 140.855 44.1163C140.777 44.1926 140.737 44.302 140.737 44.4444Z' fill='white'/%3E%3Cpath d='M132.575 46.4438C132.575 46.7795 132.688 47.0644 132.914 47.2985C133.14 47.5325 133.413 47.6495 133.732 47.6495C134.017 47.6495 134.273 47.5299 134.499 47.2908C134.73 47.0568 134.845 46.7923 134.845 46.4972C134.845 46.1614 134.73 45.874 134.499 45.6349C134.278 45.4059 134.017 45.2914 133.717 45.2914C133.403 45.2914 133.133 45.4034 132.907 45.6272C132.686 45.8511 132.575 46.1233 132.575 46.4438ZM131.742 48.6797H132.715C132.828 48.8323 132.971 48.9417 133.143 49.0079C133.305 49.074 133.506 49.1071 133.747 49.1071C134.061 49.1071 134.317 49.0282 134.513 48.8705C134.695 48.7179 134.82 48.4966 134.889 48.2066C134.698 48.349 134.506 48.4533 134.314 48.5195C134.123 48.5907 133.921 48.6263 133.71 48.6263C133.096 48.6263 132.585 48.4152 132.177 47.9929C131.779 47.5808 131.58 47.067 131.58 46.4514C131.58 46.1614 131.627 45.8841 131.72 45.6196C131.819 45.355 131.961 45.1261 132.148 44.9328C132.344 44.714 132.565 44.5538 132.811 44.452C133.062 44.3452 133.347 44.2917 133.666 44.2917C133.902 44.2917 134.12 44.3248 134.322 44.391C134.523 44.4622 134.717 44.5741 134.904 44.7267V44.4444H135.906V47.7716C135.906 48.4584 135.737 49.0002 135.398 49.3971C135.049 49.799 134.565 49.9999 133.946 49.9999C133.45 49.9999 133.008 49.8906 132.619 49.6718C132.207 49.4378 131.914 49.1071 131.742 48.6797Z' fill='white'/%3E%3Cpath d='M128.026 48.9011H127.046V44.4444H128.004V44.7344C128.151 44.6072 128.309 44.5131 128.476 44.452C128.633 44.4012 128.81 44.3757 129.006 44.3757C129.556 44.3757 129.986 44.5487 130.296 44.8947C130.61 45.2457 130.768 45.7417 130.768 46.3828V48.9011H129.787V46.543C129.787 46.1207 129.721 45.818 129.588 45.6349C129.456 45.4517 129.24 45.3602 128.94 45.3602C128.596 45.3602 128.355 45.4772 128.218 45.7112C128.09 45.9351 128.026 46.3192 128.026 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M125.106 48.9012V44.4445H126.078V48.9012H125.106ZM126.078 44.0859H125.106V43.0862H126.078V44.0859Z' fill='white'/%3E%3Cpath d='M123.549 48.9011H122.568V44.4444H123.504V44.7039C123.632 44.5869 123.777 44.5029 123.939 44.452C124.092 44.4012 124.268 44.3757 124.47 44.3757V45.4136C124.101 45.439 123.853 45.5281 123.725 45.6807C123.608 45.818 123.549 46.0673 123.549 46.4285V48.9011Z' fill='white'/%3E%3Cpath d='M121.726 47.0772H118.299C118.383 47.3621 118.533 47.5885 118.749 47.7564C118.96 47.9192 119.208 48.0006 119.493 48.0006C119.709 48.0006 119.908 47.9472 120.09 47.8403C120.262 47.7437 120.417 47.6063 120.555 47.4282H121.645C121.414 47.9421 121.112 48.3338 120.739 48.6035C120.37 48.8731 119.955 49.0079 119.493 49.0079C119.174 49.0079 118.879 48.9494 118.609 48.8324C118.334 48.7103 118.093 48.5373 117.887 48.3135C117.685 48.0947 117.526 47.8378 117.408 47.5427C117.3 47.2527 117.246 46.9602 117.246 46.6651C117.246 46.3548 117.297 46.0597 117.4 45.7799C117.504 45.5153 117.653 45.2686 117.85 45.0397C118.071 44.7955 118.314 44.6123 118.579 44.4902C118.85 44.3732 119.142 44.3147 119.456 44.3147C119.83 44.3147 120.186 44.4037 120.525 44.5818C120.864 44.77 121.139 45.0269 121.35 45.3525C121.478 45.551 121.572 45.7723 121.63 46.0165C121.694 46.2556 121.726 46.5252 121.726 46.8254V47.0772ZM119.501 45.3144C119.23 45.3144 118.997 45.3831 118.801 45.5204C118.599 45.6629 118.449 45.8689 118.351 46.1386H120.606C120.503 45.8588 120.358 45.6502 120.171 45.5128C119.985 45.3805 119.761 45.3144 119.501 45.3144Z' fill='white'/%3E%3Cpath d='M116.529 47.0772H113.102C113.185 47.3621 113.335 47.5885 113.551 47.7564C113.763 47.9192 114.011 48.0006 114.296 48.0006C114.512 48.0006 114.711 47.9472 114.893 47.8403C115.065 47.7437 115.219 47.6063 115.357 47.4282H116.448C116.217 47.9421 115.915 48.3338 115.541 48.6035C115.173 48.8731 114.758 49.0079 114.296 49.0079C113.976 49.0079 113.682 48.9494 113.411 48.8324C113.136 48.7103 112.895 48.5373 112.689 48.3135C112.488 48.0947 112.328 47.8378 112.21 47.5427C112.102 47.2527 112.048 46.9602 112.048 46.6651C112.048 46.3548 112.1 46.0597 112.203 45.7799C112.306 45.5153 112.456 45.2686 112.652 45.0397C112.873 44.7955 113.117 44.6123 113.382 44.4902C113.652 44.3732 113.944 44.3147 114.259 44.3147C114.632 44.3147 114.988 44.4037 115.327 44.5818C115.666 44.77 115.942 45.0269 116.153 45.3525C116.281 45.551 116.374 45.7723 116.433 46.0165C116.497 46.2556 116.529 46.5252 116.529 46.8254V47.0772ZM114.303 45.3144C114.033 45.3144 113.799 45.3831 113.603 45.5204C113.402 45.6629 113.252 45.8689 113.153 46.1386H115.408C115.305 45.8588 115.16 45.6502 114.974 45.5128C114.787 45.3805 114.563 45.3144 114.303 45.3144Z' fill='white'/%3E%3Cpath d='M108.464 48.9011H107.484V44.4444H108.442V44.7344C108.59 44.6072 108.747 44.5131 108.914 44.452C109.071 44.4012 109.248 44.3757 109.445 44.3757C109.995 44.3757 110.425 44.5487 110.734 44.8947C111.049 45.2457 111.206 45.7417 111.206 46.3828V48.9011H110.226V46.543C110.226 46.1207 110.159 45.818 110.027 45.6349C109.894 45.4517 109.678 45.3602 109.378 45.3602C109.034 45.3602 108.794 45.4772 108.656 45.7112C108.528 45.9351 108.464 46.3192 108.464 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M105.544 48.9012V44.4445H106.517V48.9012H105.544ZM106.517 44.0859H105.544V43.0862H106.517V44.0859Z' fill='white'/%3E%3Cpath d='M101.245 46.4438C101.245 46.7795 101.358 47.0644 101.584 47.2985C101.81 47.5325 102.083 47.6495 102.403 47.6495C102.687 47.6495 102.943 47.5299 103.169 47.2908C103.4 47.0568 103.515 46.7923 103.515 46.4972C103.515 46.1614 103.4 45.874 103.169 45.6349C102.948 45.4059 102.687 45.2914 102.388 45.2914C102.073 45.2914 101.803 45.4034 101.577 45.6272C101.356 45.8511 101.245 46.1233 101.245 46.4438ZM100.413 48.6797H101.386C101.499 48.8323 101.641 48.9417 101.813 49.0079C101.975 49.074 102.177 49.1071 102.417 49.1071C102.732 49.1071 102.987 49.0282 103.184 48.8705C103.365 48.7179 103.491 48.4966 103.56 48.2066C103.368 48.349 103.176 48.4533 102.985 48.5195C102.793 48.5907 102.592 48.6263 102.38 48.6263C101.766 48.6263 101.255 48.4152 100.848 47.9929C100.45 47.5808 100.251 47.067 100.251 46.4514C100.251 46.1614 100.297 45.8841 100.391 45.6196C100.489 45.355 100.631 45.1261 100.818 44.9328C101.015 44.714 101.236 44.5538 101.481 44.452C101.732 44.3452 102.017 44.2917 102.336 44.2917C102.572 44.2917 102.791 44.3248 102.992 44.391C103.194 44.4622 103.388 44.5741 103.574 44.7267V44.4444H104.577V47.7716C104.577 48.4584 104.407 49.0002 104.068 49.3971C103.719 49.799 103.235 49.9999 102.616 49.9999C102.12 49.9999 101.678 49.8906 101.29 49.6718C100.877 49.4378 100.585 49.1071 100.413 48.6797Z' fill='white'/%3E%3Cpath d='M96.6963 48.9011H95.7162V44.4444H96.6742V44.7344C96.8216 44.6072 96.9788 44.5131 97.1459 44.452C97.3031 44.4012 97.48 44.3757 97.6765 44.3757C98.2267 44.3757 98.6566 44.5487 98.9662 44.8947C99.2806 45.2457 99.4378 45.7417 99.4378 46.3828V48.9011H98.4577V46.543C98.4577 46.1207 98.3913 45.818 98.2587 45.6349C98.126 45.4517 97.9099 45.3602 97.6102 45.3602C97.2662 45.3602 97.0255 45.4772 96.8879 45.7112C96.7602 45.9351 96.6963 46.3192 96.6963 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M95.0288 48.9012H91.9705V43.0862H95.0288V44.0859H93.0022V45.4824H95.0288V46.4745H93.0022V47.871H95.0288V48.9012Z' fill='white'/%3E%3Cpath d='M87.5667 49.8855V49.1529C87.66 49.1275 87.7239 49.0995 87.7583 49.069C87.7926 49.0385 87.8148 48.9825 87.8246 48.9011H87.5667V47.7488H88.5394V48.6951C88.5394 49.0257 88.4657 49.2878 88.3183 49.4811C88.1562 49.6846 87.9056 49.8194 87.5667 49.8855Z' fill='white'/%3E%3Cpath d='M83.8194 48.9011H82.8392V44.4444H83.7973V44.7344C83.9447 44.6072 84.1019 44.5131 84.2689 44.452C84.4261 44.4012 84.603 44.3757 84.7995 44.3757C85.3498 44.3757 85.7797 44.5487 86.0892 44.8947C86.4036 45.2457 86.5609 45.7417 86.5609 46.3828V48.9011H85.5807V46.543C85.5807 46.1207 85.5144 45.818 85.3817 45.6349C85.2491 45.4517 85.0329 45.3602 84.7332 45.3602C84.3893 45.3602 84.1486 45.4772 84.011 45.7112C83.8833 45.9351 83.8194 46.3192 83.8194 46.8635V48.9011Z' fill='white'/%3E%3Cpath d='M77.5164 46.6653C77.5164 46.3549 77.5679 46.0598 77.6711 45.78C77.7743 45.5104 77.9241 45.2636 78.1207 45.0398C78.3368 44.8007 78.5825 44.6175 78.8576 44.4903C79.1377 44.3632 79.4275 44.2996 79.7272 44.2996C80.0318 44.2996 80.3192 44.3555 80.5895 44.4674C80.8597 44.5845 81.1053 44.7574 81.3264 44.9864C81.5328 45.2051 81.6949 45.457 81.8128 45.7419C81.9307 46.0268 81.9897 46.3168 81.9897 46.6118C81.9897 46.912 81.9332 47.2071 81.8202 47.4971C81.717 47.782 81.5745 48.0312 81.3927 48.2449C81.1667 48.4891 80.9162 48.6774 80.641 48.8096C80.3561 48.9419 80.0638 49.008 79.7641 49.008C79.4447 49.008 79.1475 48.9495 78.8724 48.8325C78.5972 48.7104 78.3589 48.5375 78.1575 48.3136C77.9512 48.0948 77.7915 47.8379 77.6785 47.5428C77.5704 47.2529 77.5164 46.9603 77.5164 46.6653ZM78.526 46.6576C78.526 47.0494 78.6414 47.3699 78.8724 47.6192C79.1033 47.8735 79.4005 48.0007 79.7641 48.0007C80.1129 48.0007 80.4003 47.8735 80.6263 47.6192C80.8572 47.3699 80.9727 47.0468 80.9727 46.65C80.9727 46.243 80.8572 45.9148 80.6263 45.6656C80.3954 45.4264 80.1031 45.3069 79.7493 45.3069C79.4005 45.3069 79.1106 45.429 78.8797 45.6732C78.6439 45.9276 78.526 46.2557 78.526 46.6576Z' fill='white'/%3E%3Cpath d='M75.7014 48.9012V44.4445H76.6742V48.9012H75.7014ZM76.6742 44.0859H75.7014V43.0862H76.6742V44.0859Z' fill='white'/%3E%3Cpath d='M73.5032 48.9012V45.3908H72.9358V44.4445H73.5032V43.0862H74.476V44.4445H75.0582V45.3908H74.476V48.9012H73.5032Z' fill='white'/%3E%3Cpath d='M72.4311 48.9087H71.4804V48.6416C71.3232 48.7637 71.166 48.8553 71.0088 48.9164C70.8417 48.9774 70.6649 49.0079 70.4782 49.0079C69.923 49.0079 69.4906 48.8299 69.1811 48.4738C68.8667 48.1176 68.7095 47.6267 68.7095 47.0009V44.4597H69.6896V46.7796C69.6896 47.2121 69.7535 47.5249 69.8812 47.7183C70.0139 47.9167 70.2301 48.0159 70.5297 48.0159C70.7164 48.0159 70.8761 47.9726 71.0088 47.8862C71.1316 47.8098 71.2323 47.6928 71.3109 47.5351C71.3699 47.4181 71.4092 47.2731 71.4288 47.1001C71.4485 46.9679 71.4583 46.772 71.4583 46.5125V44.4597H72.4311V48.9087Z' fill='white'/%3E%3Cpath d='M66.9004 48.9012V43.0862H67.8732V48.9012H66.9004Z' fill='white'/%3E%3Cpath d='M61.4463 46.6653C61.4463 46.3549 61.4979 46.0598 61.601 45.78C61.7042 45.5104 61.8541 45.2636 62.0506 45.0398C62.2668 44.8007 62.5124 44.6175 62.7875 44.4903C63.0676 44.3632 63.3575 44.2996 63.6571 44.2996C63.9618 44.2996 64.2492 44.3555 64.5194 44.4674C64.7896 44.5845 65.0353 44.7574 65.2563 44.9864C65.4627 45.2051 65.6248 45.457 65.7427 45.7419C65.8606 46.0268 65.9196 46.3168 65.9196 46.6118C65.9196 46.912 65.8631 47.2071 65.7501 47.4971C65.6469 47.782 65.5044 48.0312 65.3227 48.2449C65.0967 48.4891 64.8461 48.6774 64.571 48.8096C64.286 48.9419 63.9937 49.008 63.694 49.008C63.3747 49.008 63.0774 48.9495 62.8023 48.8325C62.5272 48.7104 62.2889 48.5375 62.0874 48.3136C61.8811 48.0948 61.7214 47.8379 61.6084 47.5428C61.5003 47.2529 61.4463 46.9603 61.4463 46.6653ZM62.4559 46.6576C62.4559 47.0494 62.5714 47.3699 62.8023 47.6192C63.0332 47.8735 63.3304 48.0007 63.694 48.0007C64.0428 48.0007 64.3302 47.8735 64.5562 47.6192C64.7871 47.3699 64.9026 47.0468 64.9026 46.65C64.9026 46.243 64.7871 45.9148 64.5562 45.6656C64.3253 45.4264 64.033 45.3069 63.6793 45.3069C63.3304 45.3069 63.0406 45.429 62.8097 45.6732C62.5738 45.9276 62.4559 46.2557 62.4559 46.6576Z' fill='white'/%3E%3Cpath d='M57.4426 47.0391H58.3934C58.4034 47.3545 58.4727 47.5911 58.6014 47.7488C58.7252 47.9014 58.8986 47.9777 59.1214 47.9777C59.3591 47.9777 59.5448 47.9065 59.6785 47.764C59.8122 47.6216 59.8791 47.4232 59.8791 47.1688C59.8791 46.9144 59.8122 46.7287 59.6785 46.6117C59.5795 46.5201 59.369 46.4235 59.0471 46.3217C58.8243 46.2556 58.6212 46.1717 58.438 46.0699C58.2152 45.9427 58.0369 45.7977 57.9032 45.6349C57.7992 45.5128 57.7199 45.3678 57.6655 45.1999C57.6209 45.0473 57.5986 44.882 57.5986 44.7039C57.5986 44.1952 57.7497 43.7805 58.0517 43.46C58.3538 43.1395 58.7426 42.9792 59.218 42.9792C59.6587 42.9792 60.0178 43.1268 60.2951 43.4219C60.5823 43.7322 60.7408 44.1646 60.7705 44.7192H59.7825C59.7677 44.4648 59.7083 44.2766 59.6043 44.1545C59.5052 44.0374 59.369 43.9789 59.1957 43.9789C59.0026 43.9789 58.854 44.0374 58.75 44.1545C58.646 44.2715 58.594 44.4394 58.594 44.6581C58.594 44.7395 58.599 44.8057 58.6089 44.8565C58.6287 44.9125 58.6584 44.9608 58.698 45.0015C58.7624 45.0677 58.854 45.1262 58.9729 45.177C59.0471 45.2076 59.1709 45.2483 59.3443 45.2991L59.7157 45.4212C60.0871 45.5637 60.3743 45.7799 60.5774 46.0699C60.7854 46.3548 60.8894 46.6957 60.8894 47.0925C60.8894 47.647 60.7259 48.1024 60.3991 48.4585C60.0722 48.8248 59.6513 49.0079 59.1363 49.0079C58.6411 49.0079 58.2375 48.8299 57.9255 48.4738C57.6036 48.1125 57.4426 47.6343 57.4426 47.0391Z' fill='white'/%3E%3Cpath d='M54.8548 47.0772H51.428C51.5115 47.3621 51.6614 47.5885 51.8775 47.7564C52.0888 47.9192 52.3369 48.0006 52.6219 48.0006C52.838 48.0006 53.037 47.9472 53.2188 47.8403C53.3907 47.7437 53.5455 47.6063 53.6831 47.4282H54.7738C54.5429 47.9421 54.2407 48.3338 53.8673 48.6035C53.4988 48.8731 53.0837 49.0079 52.6219 49.0079C52.3025 49.0079 52.0077 48.9494 51.7375 48.8324C51.4624 48.7103 51.2216 48.5373 51.0153 48.3135C50.8139 48.0947 50.6542 47.8378 50.5363 47.5427C50.4282 47.2527 50.3741 46.9602 50.3741 46.6651C50.3741 46.3548 50.4257 46.0597 50.5289 45.7799C50.6321 45.5153 50.7819 45.2686 50.9784 45.0397C51.1995 44.7955 51.4427 44.6123 51.708 44.4902C51.9782 44.3732 52.2706 44.3147 52.585 44.3147C52.9584 44.3147 53.3146 44.4037 53.6536 44.5818C53.9926 44.77 54.2677 45.0269 54.479 45.3525C54.6067 45.551 54.7001 45.7723 54.759 46.0165C54.8229 46.2556 54.8548 46.5252 54.8548 46.8254V47.0772ZM52.6292 45.3144C52.359 45.3144 52.1256 45.3831 51.9291 45.5204C51.7277 45.6629 51.5778 45.8689 51.4796 46.1386H53.7347C53.6315 45.8588 53.4865 45.6502 53.2999 45.5128C53.1132 45.3805 52.8896 45.3144 52.6292 45.3144Z' fill='white'/%3E%3Cpath d='M47.3064 48.9928C46.6627 48.9928 46.1248 48.7664 45.6924 48.3136C45.265 47.8608 45.0513 47.3063 45.0513 46.65C45.0513 46.3396 45.1053 46.0446 45.2134 45.7648C45.3215 45.4849 45.4762 45.2357 45.6777 45.0169C45.884 44.788 46.1199 44.6175 46.3852 44.5056C46.6455 44.3937 46.9379 44.3377 47.2621 44.3377C47.493 44.3377 47.7141 44.3733 47.9254 44.4445C48.1367 44.5158 48.343 44.6277 48.5444 44.7803V43.0862H49.5246V48.9012H48.5371V48.5425C48.3405 48.6901 48.1391 48.802 47.9328 48.8783C47.7264 48.9546 47.5176 48.9928 47.3064 48.9928ZM48.5665 46.6958C48.5665 46.2989 48.4437 45.9708 48.1981 45.7113C47.9573 45.462 47.6675 45.3374 47.3285 45.3374C46.9698 45.3374 46.6701 45.4595 46.4294 45.7037C46.1837 45.953 46.0609 46.2684 46.0609 46.65C46.0609 47.0417 46.1837 47.3673 46.4294 47.6268C46.6701 47.8862 46.9723 48.016 47.3358 48.016C47.665 48.016 47.95 47.8862 48.1907 47.6268C48.4413 47.3622 48.5665 47.0519 48.5665 46.6958Z' fill='white'/%3E%3Cpath d='M43.2805 48.9012V44.4445H44.2533V48.9012H43.2805ZM44.2533 44.0859H43.2805V43.0862H44.2533V44.0859Z' fill='white'/%3E%3Cpath d='M41.1191 48.901H40.3896L38.7977 44.4443H39.8516L40.7875 47.2526L41.7455 44.4443H42.7994L41.1191 48.901Z' fill='white'/%3E%3Cpath d='M33.9465 46.6653C33.9465 46.3549 33.9981 46.0598 34.1013 45.78C34.2045 45.5104 34.3543 45.2636 34.5508 45.0398C34.767 44.8007 35.0127 44.6175 35.2878 44.4903C35.5678 44.3632 35.8577 44.2996 36.1574 44.2996C36.462 44.2996 36.7494 44.3555 37.0196 44.4674C37.2898 44.5845 37.5355 44.7574 37.7566 44.9864C37.9629 45.2051 38.1251 45.457 38.243 45.7419C38.3609 46.0268 38.4198 46.3168 38.4198 46.6118C38.4198 46.912 38.3633 47.2071 38.2503 47.4971C38.1472 47.782 38.0047 48.0312 37.8229 48.2449C37.5969 48.4891 37.3463 48.6774 37.0712 48.8096C36.7863 48.9419 36.4939 49.008 36.1942 49.008C35.8749 49.008 35.5777 48.9495 35.3025 48.8325C35.0274 48.7104 34.7891 48.5375 34.5877 48.3136C34.3813 48.0948 34.2217 47.8379 34.1087 47.5428C34.0006 47.2529 33.9465 46.9603 33.9465 46.6653ZM34.9562 46.6576C34.9562 47.0494 35.0716 47.3699 35.3025 47.6192C35.5334 47.8735 35.8307 48.0007 36.1942 48.0007C36.5431 48.0007 36.8305 47.8735 37.0565 47.6192C37.2874 47.3699 37.4028 47.0468 37.4028 46.65C37.4028 46.243 37.2874 45.9148 37.0565 45.6656C36.8256 45.4264 36.5332 45.3069 36.1795 45.3069C35.8307 45.3069 35.5408 45.429 35.3099 45.6732C35.0741 45.9276 34.9562 46.2557 34.9562 46.6576Z' fill='white'/%3E%3Cpath d='M32.5148 48.9011H31.5347V44.4444H32.4706V44.7039C32.5983 44.5869 32.7433 44.5029 32.9054 44.452C33.0577 44.4012 33.2346 44.3757 33.436 44.3757V45.4136C33.0675 45.439 32.8194 45.5281 32.6917 45.6807C32.5738 45.818 32.5148 46.0673 32.5148 46.4285V48.9011Z' fill='white'/%3E%3Cpath d='M28.231 48.9012H27.214V43.0862H28.5847C28.9139 43.0862 29.1571 43.0964 29.3143 43.1167C29.555 43.1523 29.7589 43.2235 29.926 43.3304C30.1667 43.4677 30.3583 43.6763 30.5008 43.9561C30.6482 44.2258 30.7219 44.5183 30.7219 44.8337C30.7219 45.3679 30.5426 45.8055 30.1839 46.1463C29.8204 46.4923 29.3364 46.6652 28.7321 46.6652H28.231V48.9012ZM28.231 45.6655H28.6732C29.0367 45.6655 29.2947 45.607 29.447 45.49C29.6091 45.373 29.6902 45.1721 29.6902 44.8872C29.6902 44.5921 29.6115 44.3835 29.4543 44.2614C29.302 44.1444 29.049 44.0859 28.6953 44.0859H28.231V45.6655Z' fill='white'/%3E%3Cpath d='M24.0852 47.0772H20.6583C20.7419 47.3621 20.8917 47.5885 21.1079 47.7564C21.3191 47.9192 21.5672 48.0006 21.8522 48.0006C22.0684 48.0006 22.2674 47.9472 22.4491 47.8403C22.6211 47.7437 22.7759 47.6063 22.9134 47.4282H24.0041C23.7732 47.9421 23.471 48.3338 23.0977 48.6035C22.7292 48.8731 22.314 49.0079 21.8522 49.0079C21.5329 49.0079 21.2381 48.9494 20.9679 48.8324C20.6927 48.7103 20.452 48.5373 20.2456 48.3135C20.0442 48.0947 19.8845 47.8378 19.7666 47.5427C19.6585 47.2527 19.6045 46.9602 19.6045 46.6651C19.6045 46.3548 19.6561 46.0597 19.7593 45.7799C19.8624 45.5153 20.0123 45.2686 20.2088 45.0397C20.4299 44.7955 20.6731 44.6123 20.9384 44.4902C21.2086 44.3732 21.5009 44.3147 21.8154 44.3147C22.1887 44.3147 22.5449 44.4037 22.8839 44.5818C23.2229 44.77 23.4981 45.0269 23.7093 45.3525C23.8371 45.551 23.9304 45.7723 23.9894 46.0165C24.0532 46.2556 24.0852 46.5252 24.0852 46.8254V47.0772ZM21.8596 45.3144C21.5894 45.3144 21.356 45.3831 21.1595 45.5204C20.958 45.6629 20.8082 45.8689 20.7099 46.1386H22.965C22.8618 45.8588 22.7169 45.6502 22.5302 45.5128C22.3435 45.3805 22.12 45.3144 21.8596 45.3144Z' fill='white'/%3E%3Cpath d='M12.4319 43.0862H13.4784L14.5322 46.9934L15.4681 43.0862H16.2493L17.1705 46.9858L18.2243 43.0862H19.2708L17.5979 48.9012H16.6988L15.8587 45.1695L14.9965 48.9012H14.1048L12.4319 43.0862Z' fill='white'/%3E%3Crect width='12.3279' height='12.6647' fill='white'/%3E%3C/svg%3E");
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: -vw(360);
        height: -vw(360);
        background-color: $green-color;
        border-radius: -vw(12);
        z-index: -1;
      }
    }
    .txt-content {
      flex: 1;
      .title {
        margin-bottom: -vw(60);
        font-weight: 700;
        font-size: min(3.6rem, -vw(36));
        line-height: min(5.6rem, -vw(56));
      }
      .subtit {
        font-weight: 600;
        font-size: min(2.8rem, -vw(28));
        line-height: min(3.8rem, -vw(38));
      }
      p {
        margin-top: -vw(32);

        font-weight: 500;
        font-size: min(2.2rem, -vw(22));
        line-height: min(3.6rem, -vw(36));
        + .subtit {
          margin-top: -vw(76);
        }
      }
    }
  }
  .certific-box {
    width: 100%;
    max-width: 144rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -vw(40);
    row-gap: -vw(80);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .cell {
      position: relative;
      text-align: center;
    }
    .img-wrap {
      position: relative;
      display: block;
      margin-bottom: 3.2rem;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1.2rem;
        background-color: rgba(0, 0, 0, 0.03);
        z-index: 3;
      }
    }
    img {
      width: 100%;
      border-radius: 1.2rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.08), 0 3rem 3rem rgba(0, 0, 0, 0.04);
    }
    .name {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  /* 찾아오시는 길 페이지*/
  .address-box {
    .location-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: -vw(49);
      margin-bottom: -vw(60);
      .list {
        position: relative;
        + .list::before {
          content: '';
          position: absolute;
          top: -vw(4);
          left: -vw(-24);
          display: block;
          width: -vw(1);
          height: -vw(24);
          background-color: #ddd;
        }
        &.active {
          a {
            color: $green-color;
          }
        }
      }
      a {
        font-weight: 600;
        font-size: min(2.4rem, -vw(24));
        line-height: min(3.2rem, -vw(32));
      }
    }
    .address {
      margin-bottom: -vw(40);

      font-weight: 700;
      font-size: min(3.6rem, -vw(36));
      line-height: min(5.6rem, -vw(56));
      text-align: center;
    }
    .company-map {
      //카카오맵 설정시 스타일 수정
      width: 100%;
      max-width: 144rem;
      height: min(68rem, -vw(680));
      margin: 0 auto;
      background-color: #ddd;
      border-radius: -vw(12);
    }
    .traffic-box {
      display: none;
      align-items: stretch;
      gap: -vw(120);
      width: 100%;
      max-width: 144rem;
      margin: 0 auto;
      margin-top: -vw(20);
      padding: -vw(54) -vw(60);
      border: 1px solid #ddd;
      border-radius: -vw(12);
      .tit {
        margin-bottom: -vw(20);
        font-weight: 700;
        font-size: min(2.2rem, -vw(22));
        line-height: min(3.8rem, -vw(38));
      }
      .txt {
        font-weight: 500;
        font-size: min(1.8rem, -vw(18));
        line-height: min(2.6rem, -vw(26));
        color: #555;
        p + p {
          margin-top: -vw(12);
        }
      }
      .subway {
        flex-shrink: 0;
      }
      .fc-blue {
        color: #3a68cf;
      }
      .fc-gray {
        color: #878d97;
      }
      .fc-red {
        color: #e83323;
      }
      .fc-navy {
        color: #4c5a71;
      }
      .bus {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -vw(-60);
          display: block;
          width: -vw(2);
          height: -vw(140);
          border-left: 1px dashed #ddd;
        }
        dl {
          display: flex;
          gap: -vw(8);
          + .flex {
            gap: -vw(8);
            margin-top: -vw(12);
          }
        }
        dt {
          font-weight: 700;
        }
        dl + dl {
          margin-left: -vw(24);
        }
      }
    }
    &.seoul {
      .traffic-box {
        display: flex;
      }
    }
  }

  /*연혁*/
  .history-img {
    position: relative;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    object-fit: fill;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 1.2rem;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 4.8rem;
      line-height: 5.7rem;
      font-weight: 900;
      color: $white-color;
    }
  }
  .history-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 144rem;
    margin: 6rem auto 0;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 2.1rem;
      height: 100%;
      background: #ddd;
    }
    + .history-img {
      margin-top: 16rem;
    }
    .cell {
      position: relative;
      width: 50%;
      //padding-top: -vw(53);
      padding-bottom: 2.2rem;
      &::before {
        content: '';
        position: absolute;
        top: 2.2rem;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        box-sizing: border-box;
        border-radius: 50%;
        border: 0.3rem solid #ddd;
        background-color: #fff;
      }
      strong {
        font-size: 4.8rem;
        line-height: 5.7rem;
        font-weight: 900;
        margin-bottom: 2rem;
        display: inline-block;
      }
      .list {
        font-family: 'Pretendard GOV' !important;
        dl {
          position: relative;
          padding-left: 4.4rem;

          + dl {
            margin-top: 1.6rem;
          }
        }
        dt {
          position: absolute;
          left: 0;
          font-size: 2rem;
          line-height: 2.8rem;
          font-weight: 700;
        }
        dd {
          font-size: 2rem;
          line-height: 2.8rem;
          font-weight: 400;
          + dd {
            margin-top: 1.6rem;
          }
        }
      }
      &:last-child {
        z-index: 2;
        background-color: #fff;
        left: 1px;
        right: 1px;
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 2.2rem;
          position: absolute;
          top: 0;
          background-color: #ddd;
        }
      }
      &:nth-child(2n-1) {
        align-self: flex-end;
        padding-left: 4.6rem;
        &::before {
          left: -0.6rem;
        }
        &::after {
          left: 0;
        }
      }
      &:nth-child(2n) {
        padding-right: 4.6rem;
        text-align: right;
        &::before {
          right: -0.6rem;
        }
        &::after {
          right: 0;
        }
        strong {
          right: 4.2rem;
        }
        .list dl {
          padding-right: 4.4rem;
        }
        .list dt {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* tablet */
@media only screen and (max-width: 1280px) {
  .about-contents {
    .certific-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
/* mobile */
@media only screen and (max-width: 1024px) {
  .about-contents {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .about-title {
      font-size: 2.2rem;
      line-height: 3.6rem;
      margin-bottom: 4rem;
    }
    //인사말
    .greeting-box {
      width: 100%;
      gap: 8rem;
      flex-direction: column-reverse;
      .object-img {
        width: 100%;
        height: 48.8rem;
        img {
          width: 31.2rem;
          height: 42rem;
          border-radius: 1.2rem;
        }
        &::before {
          width: 19rem;
          height: 4.6rem;
          top: 18rem;
          left: 5.4rem;
        }
        &::after {
          width: 24.4rem;
          height: 24.4rem;
          border-radius: 1.2rem;
        }
      }
      .txt-content {
        .title {
          margin-bottom: 4rem;
          font-size: 2.2rem;
          line-height: 3.6rem;
        }
        .subtit {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
        p {
          margin-top: 3.2rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
          + .subtit {
            margin-top: 3.2rem;
          }
        }
      }
    }
    //주요연혁
    .history-img {
      width: 100%;
      height: 12.4rem;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 1.2rem;
      }
      span {
        font-size: 3.2rem;
        line-height: 3.8rem;
      }
    }
    .history-box {
      width: 100%;
      margin-top: 3.2rem;
      + .history-img {
        margin-top: 8rem;
      }
      &::before {
        left: 0.6rem;
      }
      .cell {
        width: 100%;
        padding-bottom: 3.2rem;
        strong {
          top: -1.5rem;
          left: 1.8rem;
          font-size: 2.4rem;
          line-height: 2.8rem;
          margin-bottom: 0.8rem;
        }
        .list {
          dl {
            padding-left: 3rem;
            + dl {
              margin-top: 1.2rem;
            }
          }
          dt {
            width: 2.2rem;
            left: 0;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 600;
            text-align: right;
          }
          dd {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 500;
            + dd {
              margin-top: 0.8rem;
            }
          }
        }
        &::before {
          left: 0 !important;
          right: auto !important;
          top: 1rem;
          width: 1.2rem;
          height: 1.2rem;
          z-index: 2;
        }
        &:nth-child(2n-1) {
          align-self: flex-start;
          padding-left: 2.4rem;
          &::after {
            left: 0.5rem;
          }
        }
        &:nth-child(2n) {
          padding-left: 2.4rem;
          border-right: 0;
          text-align: left;
          .list dl {
            padding-right: 0;
          }
          .list dt {
            left: 0;
            right: unset;
          }
          &::after {
            left: 0.5rem;
          }
        }
        &:last-child {
          padding-bottom: 0;
          border-left: 0;
        }
      }
    }
    //인증현황
    .certific-box {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.2rem;
      row-gap: 2.4rem;
      .img-wrap {
        width: 17rem;
        height: 22.6rem;
        border-radius: 1.2rem;
        margin: 0 auto 1.6rem;
      }

      .name {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
    //찾아오시는길
    .address-box {
      .location-tab {
        width: 27.2rem;
        flex-wrap: wrap;
        column-gap: 3.3rem;
        row-gap: 1.2rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        a {
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
        .list + .list::before {
          left: -1.6rem;
          top: 0.3rem;
          width: 1px;
          height: 2rem;
        }
        .list:nth-child(4) {
          &::before {
            content: none;
          }
        }
      }
      .address {
        margin-bottom: 2.4rem;
        font-size: 2.2rem;
        line-height: 3.6rem;
      }
      .company-map {
        border-radius: 1.2rem;
        width: 100%;
        height: 42rem;
      }
      .traffic-box {
        width: 100%;
        flex-direction: column;
        border-radius: 1.2rem;
        gap: 4.8rem;
        margin-top: 2rem;
        padding: 3.2rem;
        .tit {
          font-size: 1.8rem;
          line-height: 2.6rem;
          margin-bottom: 1.2rem;
        }
        .txt {
          font-size: 1.6rem;
          line-height: 2.4rem;
          p + p {
            margin-top: 1.2rem;
          }
        }
        .bus {
          &::before {
            left: 0;
            top: -2.4rem;
            width: 100%;
            height: 2.4rem;
            border-top: 1px dashed #ddd;
            border-left: 0;
          }
          dl {
            gap: 0.8rem;
            + .flex {
              flex-direction: column;
              margin-top: 1.2rem;
            }
            + dl {
              margin-top: 1.2rem;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
