@use 'sass:math';
// about us 페이지
.about-contents {
  padding-top: -vw(160);
  padding-bottom: -vw(200);
  .about-title {
    margin-bottom: -vw(60);
    font-weight: 700;
    font-size: min(3.6rem, -vw(36));
    line-height: min(5.6rem, -vw(56));
    text-align: center;
  }
  //인사말
  .greeting-box {
    width: -vw(1374);
    display: flex;
    gap: -vw(134);
    margin: 0 auto;

    .txt-content {
      flex: 1;
      .title {
        margin-bottom: -vw(60);
        font-weight: 700;
        font-size: min(3.6rem, -vw(36));
        line-height: min(5.6rem, -vw(56));
      }
      .subtit {
        font-weight: 600;
        font-size: min(2.8rem, -vw(28));
        line-height: min(3.8rem, -vw(38));
      }
      p {
        font-weight: 500;
        font-size: min(2.2rem, -vw(22));
        line-height: min(3.6rem, -vw(36));
        + .subtit {
          margin-top: -vw(76);
        }
      }
    }
  }
  .certific-box {
    width: 100%;
    max-width: 144rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -vw(40);
    row-gap: -vw(80);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .cell {
      position: relative;
      text-align: center;
    }
    .img-wrap {
      position: relative;
      display: block;
      margin-bottom: 3.2rem;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1.2rem;
        background-color: rgba(0, 0, 0, 0.03);
        z-index: 3;
      }
    }
    img {
      width: 100%;
      border-radius: 1.2rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.08), 0 3rem 3rem rgba(0, 0, 0, 0.04);
    }
    .name {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  /* 찾아오시는 길 페이지*/
  .address-box {
    .location-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: -vw(49);
      margin-bottom: -vw(60);
      .list {
        position: relative;
        + .list::before {
          content: '';
          position: absolute;
          top: -vw(4);
          left: -vw(-24);
          display: block;
          width: -vw(1);
          height: -vw(24);
          background-color: #ddd;
        }
        &.active {
          a {
            color: $green-color;
          }
        }
      }
      a {
        font-weight: 600;
        font-size: min(2.4rem, -vw(24));
        line-height: min(3.2rem, -vw(32));
      }
    }
    .address {
      margin-bottom: -vw(40);

      font-weight: 700;
      font-size: min(3.6rem, -vw(36));
      line-height: min(5.6rem, -vw(56));
      text-align: center;
    }

    .traffic-box {
      display: none;
      align-items: stretch;
      gap: -vw(120);
      width: 100%;
      max-width: 144rem;
      margin: 0 auto;
      margin-top: -vw(20);
      padding: -vw(54) -vw(60);
      border: 1px solid #ddd;
      border-radius: -vw(12);
      .tit {
        margin-bottom: -vw(20);
        font-weight: 700;
        font-size: min(2.2rem, -vw(22));
        line-height: min(3.8rem, -vw(38));
      }
      .txt {
        font-weight: 500;
        font-size: min(1.8rem, -vw(18));
        line-height: min(2.6rem, -vw(26));
        color: #555;
        p + p {
          margin-top: -vw(12);
        }
      }
      .subway {
        flex-shrink: 0;
      }
      .fc-blue {
        color: #3a68cf;
      }
      .fc-gray {
        color: #878d97;
      }
      .fc-red {
        color: #e83323;
      }
      .fc-navy {
        color: #4c5a71;
      }
      .bus {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -vw(-60);
          display: block;
          width: -vw(2);
          height: -vw(140);
          border-left: 1px dashed #ddd;
        }
        dl {
          display: flex;
          gap: -vw(8);
          + .flex {
            gap: -vw(8);
            margin-top: -vw(12);
          }
        }
        dt {
          font-weight: 700;
        }
        dl + dl {
          margin-left: -vw(24);
        }
      }
    }
    &.seoul {
      .traffic-box {
        display: flex;
      }
    }
  }

  /*연혁*/
  .history-img {
    position: relative;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    object-fit: fill;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 1.2rem;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 4.8rem;
      line-height: 5.7rem;
      font-weight: 900;
      color: $white-color;
    }
  }
  .history-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 144rem;
    margin: 6rem auto 0;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 2.1rem;
      height: 100%;
      background: #ddd;
    }
    + .history-img {
      margin-top: 16rem;
    }
    .cell {
      position: relative;
      width: 50%;
      //padding-top: -vw(53);
      padding-bottom: 2.2rem;
      &::before {
        content: '';
        position: absolute;
        top: 2.2rem;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        box-sizing: border-box;
        border-radius: 50%;
        border: 0.3rem solid #ddd;
        background-color: #fff;
      }
      strong {
        font-size: 4.8rem;
        line-height: 5.7rem;
        font-weight: 900;
        margin-bottom: 2rem;
        display: inline-block;
      }
      .list {
        font-family: 'Pretendard GOV' !important;
        dl {
          position: relative;
          padding-left: 4.4rem;

          + dl {
            margin-top: 1.6rem;
          }
        }
        dt {
          position: absolute;
          left: 0;
          font-size: 2rem;
          line-height: 2.8rem;
          font-weight: 700;
        }
        dd {
          font-size: 2rem;
          line-height: 2.8rem;
          font-weight: 400;
          + dd {
            margin-top: 1.6rem;
          }
        }
      }
      &:last-child {
        z-index: 2;
        background-color: #fff;
        left: 1px;
        right: 1px;
        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 2.2rem;
          position: absolute;
          top: 0;
          background-color: #ddd;
        }
      }
      &:nth-child(2n-1) {
        align-self: flex-end;
        padding-left: 4.6rem;
        &::before {
          left: -0.6rem;
        }
        &::after {
          left: 0;
        }
      }
      &:nth-child(2n) {
        padding-right: 4.6rem;
        text-align: right;
        &::before {
          right: -0.6rem;
        }
        &::after {
          right: 0;
        }
        strong {
          right: 4.2rem;
        }
        .list dl {
          padding-right: 4.4rem;
        }
        .list dt {
          right: 0;
          left: auto;
        }
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* tablet */
@media only screen and (max-width: 1280px) {
  .about-contents {
    .certific-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
/* mobile */
@media only screen and (max-width: 1024px) {
  .about-contents {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .about-title {
      font-size: 2.2rem;
      line-height: 3.6rem;
      margin-bottom: 4rem;
    }
    //인사말
    .greeting-box {
      width: 100%;
      gap: 8rem;
      flex-direction: column-reverse;
      .object-img {
        width: 100%;
        height: 48.8rem;
        img {
          width: 31.2rem;
          height: 42rem;
          border-radius: 1.2rem;
        }
        &::before {
          width: 19rem;
          height: 4.6rem;
          top: 18rem;
          left: 5.4rem;
        }
        &::after {
          width: 24.4rem;
          height: 24.4rem;
          border-radius: 1.2rem;
        }
      }
      .txt-content {
        .title {
          margin-bottom: 4rem;
          font-size: 2.2rem;
          line-height: 3.6rem;
        }
        .subtit {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
        p {
          margin-top: 3.2rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
          + .subtit {
            margin-top: 3.2rem;
          }
        }
      }
    }
    //주요연혁
    .history-img {
      width: 100%;
      height: 12.4rem;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 1.2rem;
      }
      span {
        font-size: 3.2rem;
        line-height: 3.8rem;
      }
    }
    .history-box {
      width: 100%;
      margin-top: 3.2rem;
      + .history-img {
        margin-top: 8rem;
      }
      &::before {
        left: 0.6rem;
      }
      .cell {
        width: 100%;
        padding-bottom: 3.2rem;
        strong {
          top: -1.5rem;
          left: 1.8rem;
          font-size: 2.4rem;
          line-height: 2.8rem;
          margin-bottom: 0.8rem;
        }
        .list {
          dl {
            padding-left: 3rem;
            + dl {
              margin-top: 1.2rem;
            }
          }
          dt {
            width: 2.2rem;
            left: 0;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 600;
            text-align: right;
          }
          dd {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 500;
            + dd {
              margin-top: 0.8rem;
            }
          }
        }
        &::before {
          left: 0 !important;
          right: auto !important;
          top: 1rem;
          width: 1.2rem;
          height: 1.2rem;
          z-index: 2;
        }
        &:nth-child(2n-1) {
          align-self: flex-start;
          padding-left: 2.4rem;
          &::after {
            left: 0.5rem;
          }
        }
        &:nth-child(2n) {
          padding-left: 2.4rem;
          border-right: 0;
          text-align: left;
          .list dl {
            padding-right: 0;
          }
          .list dt {
            left: 0;
            right: unset;
          }
          &::after {
            left: 0.5rem;
          }
        }
        &:last-child {
          padding-bottom: 0;
          border-left: 0;
        }
      }
    }
    //인증현황
    .certific-box {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.2rem;
      row-gap: 2.4rem;
      .img-wrap {
        width: 17rem;
        height: 22.6rem;
        border-radius: 1.2rem;
        margin: 0 auto 1.6rem;
      }

      .name {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
    //찾아오시는길
    .address-box {
      .location-tab {
        width: 27.2rem;
        flex-wrap: wrap;
        column-gap: 3.3rem;
        row-gap: 1.2rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        a {
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
        .list + .list::before {
          left: -1.6rem;
          top: 0.3rem;
          width: 1px;
          height: 2rem;
        }
        .list:nth-child(4) {
          &::before {
            content: none;
          }
        }
      }
      .address {
        margin-bottom: 2.4rem;
        font-size: 2.2rem;
        line-height: 3.6rem;
      }
      .company-map {
        border-radius: 1.2rem;
        width: 100%;
        height: 42rem;
      }
      .traffic-box {
        width: 100%;
        flex-direction: column;
        border-radius: 1.2rem;
        gap: 4.8rem;
        margin-top: 2rem;
        padding: 3.2rem;
        .tit {
          font-size: 1.8rem;
          line-height: 2.6rem;
          margin-bottom: 1.2rem;
        }
        .txt {
          font-size: 1.6rem;
          line-height: 2.4rem;
          p + p {
            margin-top: 1.2rem;
          }
        }
        .bus {
          &::before {
            left: 0;
            top: -2.4rem;
            width: 100%;
            height: 2.4rem;
            border-top: 1px dashed #ddd;
            border-left: 0;
          }
          dl {
            gap: 0.8rem;
            + .flex {
              flex-direction: column;
              margin-top: 1.2rem;
            }
            + dl {
              margin-top: 1.2rem;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
