@use 'sass:math';
// cs center 페이지
.cs-contents {
  padding-top: -vw(160);
  padding-bottom: -vw(200);
  .sub-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -vw(49);
    margin-bottom: -vw(60);
    .list {
      position: relative;
      + .list::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -vw(-24);
        display: block;
        width: 1px;
        height: 2.4rem;
        background-color: #ddd;
      }
      &.active {
        a {
          color: $green-color;
        }
      }
    }
    a {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }
  .tit-box {
    margin-bottom: 6rem;
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 700;
    text-align: center;
  }
  .subscript {
    margin-top: 6rem;
    font-size: 2.2rem;
    line-height: 3.6rem;
    font-weight: 500;
    color: #555;
    text-align: center;
    font-family: 'Pretendard GOV' !important;
  }
  // 컨텐츠 스타일
  .card-num-list {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 16rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    dl {
      display: flex;
      align-items: center;
      padding: 3.2rem 6rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 1.2rem;
      font-size: 2rem;
      line-height: 2.6rem;
      color: #555;
      box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
      font-weight: 500;
    }
    dt {
      font-weight: 900;
      font-size: 4rem;
      display: inline-block;
      margin-right: 4rem;
      line-height: 3.2rem;
      color: $green-color;
    }
  }
  .card-step-list {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 19.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    overflow: hidden;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5rem 4.2rem 5rem;
      background-color: #fafafb;
      border-radius: 1.2rem;
      text-align: center;
      .card-header {
        margin-bottom: 3rem;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 1;
        span {
          display: block;
          margin-bottom: 1.2rem;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.1rem;
          text-transform: uppercase;
          color: $green-color;
        }
      }
      .card-body {
        height: 8.6rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.6rem;
        color: #555;
      }
    }
  }
  .txt-card {
    width: 100%;
    max-width: 144rem;
    display: flex;
    align-items: stretch;
    gap: -vw(14);
    margin: 0 auto;
    margin-top: -vw(40);
    .card {
      flex: 1;
      padding: 6rem;
      border-radius: 1.2rem;
      border: 1px solid #ddd;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 500;
      color: #555;
      .card-header {
        margin-bottom: 3rem;
        p {
          margin-top: 1.6rem;
        }
      }
      .tit {
        font-size: 2.8rem;
        line-height: 3.8rem;
        font-weight: 600;
        color: #222;
      }
      .card-body {
        li {
          position: relative;
          padding-left: 1.6rem;
          + li {
            margin-top: 1.6rem;
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 1rem;
            display: block;
            width: 0.3rem;
            height: 0.3rem;
            background-color: #555;
          }
        }
      }
    }
  }
  // 폼 스타일
  .form-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 6rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1.2rem;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
    .form-box + .form-box {
      margin-top: 6rem;
    }
    .form-tit {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 2rem;
      border-bottom: 2px solid #222;
      .fc-red {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
      }
      h6 {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.6rem;
      }
    }
    .row {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      .inputbox {
        width: 100%;
      }
      .label {
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: 700;
        flex: 0 0 auto;
        width: 17rem;
        &.req {
          span:after {
            content: '*';
            margin-left: 0.4rem;
            color: $red-color;
            line-height: 1.5rem;
            vertical-align: top;
          }
        }
      }
      .form {
        width: 100%;
      }
    }
    &.signin {
      width: 62rem;
      .row {
        display: flex;
        &:first-child {
          margin: 0;
        }
      }
      .form {
        flex: 1;
      }
      .btn-green {
        width: 100%;
      }
      .info-box {
        margin-top: 4rem;
        padding-top: 4rem;
        border-top: 1px solid #ddd;
        color: #555;
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: 500;
        word-break: break-all;
      }
    }
  }
}

.rule-contents {
  .rule-txt {
    margin-top: 2rem;
  }
  .table-tit {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 2rem 0;
  }
  .agree-cont {
    margin-top: 2rem;
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* tablet */
@media only screen and (max-width: 1280px) {
}
/* mobile */
@media only screen and (max-width: 1024px) {
  .cs-contents {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .sub-tab {
      gap: 3.3rem;
      margin-bottom: 8rem;
      a {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
      .list + .list::before {
        left: -1.6rem;
        width: 1px;
        height: 2rem;
      }
    }
    .tit-box {
      margin-bottom: 3.2rem;
      font-size: 2.4rem;
      line-height: 3.2rem;
      .subscript {
        margin-top: 1.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
    .card-num-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.8rem;
      width: 100%;
      margin-bottom: 8rem;
      dl {
        gap: 1.6rem;
        padding: 2.4rem;
        border-radius: 1.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      dt {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
      dd {
        word-break: break-all;
      }
    }
    .card-step-list {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.8rem;
      margin-bottom: 8rem;
      .card {
        border-radius: 1.2rem;
        padding: 4rem 2rem;
        .card-header {
          font-size: 2.2rem;
          line-height: 3.6rem;
          span {
            margin-bottom: 0.4rem;
            font-size: 1.6rem;
            line-height: 1.9rem;
          }
        }
        .card-body {
          height: auto;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    .txt-card {
      flex-direction: column;
      width: 100%;
      gap: 0.8rem;
      .card {
        padding: 3.2rem 2.4rem;
        border-radius: 1.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        .tit {
          font-size: 1.8rem;
          line-height: 2.4rem;
          font-weight: 700;
        }
        .card-header {
          margin-bottom: 1.6rem;
          p {
            margin-top: 1.6rem;
          }
        }
        .card-body {
          li {
            padding-left: 1.6rem;
          }
          li:before {
            top: 1.05rem;
            width: 0.3rem;
            height: 0.3rem;
          }
        }
      }
    }
    .form-wrap {
      width: 100%;
      padding: 0;
      border: 0;
      box-shadow: none;
      .form-box {
        .form-tit {
          align-items: center;
          h6 {
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
        }
      }
      .row {
        flex-wrap: wrap;
        flex-direction: column;
        .label {
          font-size: 1.6rem;
          width: 100%;
          line-height: 2.4rem;
        }
      }
    }
  }
  .rule-contents {
    .table {
      font-size: 1.4rem;
      display: flex;
      thead {
        flex: 0 0 auto;
        tr {
          display: block;
          th {
            display: block;
            width: 8rem;
            border-left: 0;
            padding: 1rem;
            line-height: 2rem;
            & + th {
              border-top: 0.1rem solid #ddd;
            }
          }
        }
      }
      tbody {
        flex: 1 1 auto;
        tr,
        td {
          display: block;
          width: 100%;
        }
        td {
          border-left: 0.1rem solid #ddd;
          padding: 1rem;
          line-height: 2rem;
          &:first-child {
            border-top: 0;
          }
        }
      }
    }
  }
}
