@use 'sass:math';
// 서비스 페이지
.pc-break {
  display: inline-block;
}
.mobile-break {
  display: none;
}
.bg-service {
  background: url(../images/service/bg-subtop-service.png) no-repeat 0 0 / cover;
}

.tit-box {
  margin: 6rem 0;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
}
.subscript {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #555;
  text-align: center;
  font-family: 'Pretendard GOV' !important;
}
.footnote {
  font-size: 3.6rem;
  line-height: 5.6rem;
  font-weight: 800;
  text-align: center;
}
.circle-progress {
  margin: 10rem 0 26rem;
  ol {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    font-size: 0;
  }
  .step {
    position: relative;
    width: 20%;
    display: inline-block;
    padding-bottom: 20%;
    border-radius: 50%;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    &::before {
      content: '';
      display: block;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: 2;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0.3rem solid $green-color;
      background-color: $white-color;
    }
    .step-box {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .num {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: $green-color;
      position: relative;
      z-index: 2;
    }
    strong {
      position: relative;
      z-index: 2;
      display: block;
      margin-top: 2.4rem;
    }
    .detail {
      position: absolute;
      top: 0;
      left: 1rem;
      width: calc(100% - 2rem);
      box-sizing: border-box;
      padding-bottom: 4rem;
      padding-top: 100%;
      border-radius: 20rem;
      background-color: #d7eed5;
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: 500;
      color: #666;
      z-index: -1;
    }
  }
}
.icon-card-box {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0;
  > li {
    display: inline-block;
    width: 33.333%;
    padding: 0 2rem;
    vertical-align: top;
  }
  .card {
    height: 35rem;
    padding: 6rem 3.2rem;
    border: 1px solid #ddd;
    border-radius: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
    i {
      display: block;
      width: auto;
      height: 8rem;
      margin: 0 auto;
      margin-bottom: 3.2rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &.ico-afreeca {
        background-image: url(../images/main/img_card_3.png);
      }
      &.ico-game {
        background-image: url(../images/service/ico-game.png);
      }
      &.ico-24h {
        background-image: url(../images/service/ico-24h.png);
      }
      &.ico-fashion {
        background-image: url(../images/service/ico-green-fashion.svg);
      }
      &.ico-flag {
        background-image: url(../images/service/ico-green-flag.svg);
      }
      &.ico-etc {
        background-image: url(../images/service/ico-green-etc.svg);
      }
      &.ico-customer {
        background-image: url(../images/service/ico-customer.svg);
      }
      &.ico-sending {
        background-image: url(../images/service/ico-sending.svg);
      }
      &.ico-card {
        background-image: url(../images/service/ico-card.svg);
      }
      &.ico-purchase-ticket {
        background-image: url(../images/service/ico-purchase-ticket.png);
      }
      &.ico-24H-ticket {
        background-image: url(../images/service/ico-24H-ticket.png);
      }
      &.ico-send-ticket {
        background-image: url(../images/service/ico-send-ticket.png);
      }
    }
    strong {
      font-weight: 600;
      font-size: 2.4rem;
    }
    ul {
      margin-top: 3.8rem;
      text-align: left;
      line-height: 2.6rem;
      li {
        position: relative;
        padding-left: 1.3rem;
        font-size: 1.8rem;
        color: #555;
        font-weight: 500;
        &::before {
          content: '';
          position: absolute;
          top: 1rem;
          left: 0;
          display: block;
          width: 0.3rem;
          height: 0.3rem;
          background-color: #555;
        }
      }
    }
  }
}
.arrow-progress {
  margin-top: 10.6rem;
  margin-bottom: 25rem;
  .title {
    font-size: min(4.8rem, -vw(48));
    line-height: min(6rem, -vw(60));
    font-weight: 800;
    text-align: center;
  }
  .progress {
    position: relative;
    width: calc(100% - 4rem);
    max-width: 140rem;
    height: 6rem;
    margin: 0;
    background-color: #f5f5f5;
    border-radius: 9.6rem;
    margin-top: 6rem;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 9.6rem;
      right: -6rem;
      background: #f5f5f5;
      width: 16rem;
      height: 6rem;
    }
    &::before {
      transform: rotate(45deg);
      top: -3.5rem;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: -3.5rem;
    }
    ul {
      position: absolute;
      top: 2.5rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      padding-left: 7rem;
      padding-right: 7rem;
      z-index: 2;
    }
    li {
      position: relative;
      &:nth-child(n) {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 7.5rem;
          margin: 0 auto;
          background-color: #c9c9c9;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          border: 1px solid $coral-color;
          background-color: $coral-color;
          border-radius: 50%;
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
        }
      }
      &:nth-child(2n) {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 10rem;
        }
      }
      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 13rem;
        padding: 2rem 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 1.2rem;
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 600;
        text-align: center;
        box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.04);
      }
    }
  }
  & + .tit-box {
    padding-top: 0rem;
    @include media-min-width(1025) {
      padding-top: 10rem;
    }
  }
}
.triangle-progress {
  position: relative;
  width: min(65.1rem, -vw(651));
  height: min(62.9rem, -vw(629));
  margin: 0 auto;
  margin-top: -vw(98);
  margin-bottom: -vw(160);
  background: url(../images/service/bg-circle.png) no-repeat center bottom / -vw(568) -vw(568);
  background-size: contain;
  .progress {
    position: absolute;
    bottom: -vw(27);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -vw(10);
    width: min(30rem, -vw(300));
    height: min(30rem, -vw(300));
    background-color: #fff;
    border: 3px solid $green-color;
    border-radius: -vw(200);

    text-align: center;
    opacity: 0;

    &.top {
      position: absolute;
      top: -100%;
      left: 27%;
      transform: translateX(-50%);
    }
    strong {
      font-size: min(2.2rem, -vw(22));
      line-height: min(3.6rem, -vw(36));
      font-weight: 700;
      color: $green-color;
    }
    p {
      font-size: min(2.4rem, -vw(24));
      line-height: min(3.2rem, -vw(32));
      font-weight: 600;
    }
  }
}
.card-step-box {
  width: 100%;
  max-width: 144rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -vw(120);

  > ol {
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: #fafafb;
    border-radius: -vw(12);
    border: 1px solid #ddd;
    overflow: hidden;
  }
  .card {
    position: relative;
    flex: 1;
    opacity: 0;
    .card-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 15.2rem;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      font-size: 2.1rem;
      line-height: 3.6rem;
      font-weight: 700;
      text-align: center;
      box-shadow: 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.04);
    }
    .card-body {
      padding: 3.2rem;
      padding-top: 18.2rem;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 500;
      color: #555;
    }
    .sub-list {
      li {
        position: relative;
        padding-left: -vw(13);
        &::before {
          content: '';
          position: absolute;
          top: -vw(10);
          left: 0;
          display: block;
          width: 3px;
          height: 3px;
          background-color: #555;
        }
        + li {
          margin-top: -vw(10);
        }
      }
    }
    + .card {
      border-left: 1px solid #ddd;
      &::before {
        content: '';
        position: absolute;
        top: 5.6rem;
        left: -2rem;
        display: block;
        width: 4rem;
        height: 4rem;
        background: url(../images/service/ico-green-arrow.png) no-repeat 0 0 / cover;
        z-index: 5;
      }
    }
    &:first-child {
      .card-header {
        border-bottom-left-radius: -vw(12);
      }
    }
    &:last-child {
      .card-header {
        border-bottom-right-radius: -vw(12);
      }
    }
  }
}

.greeting-box {
  width: 102rem;
  display: flex;
  margin: 20rem auto;
  flex-direction: column;
  .txt-content {
    flex: 1;
    .title {
      margin-bottom: 6rem;
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 5.6rem;
    }
    .subtit {
      font-weight: 600;
      font-size: 2.8rem;
      line-height: 3.8rem;
    }
    p {
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 3.6rem;
      + .subtit {
        margin-top: 7rem;
      }
    }
  }
  .intro-item {
    display: flex;
    gap: 1.6rem;
    li {
      flex: 0 0 auto;
      width: 33.3333%;
      overflow: hidden;
      border-radius: 2rem;
      border: 0.1rem solid $blue-color;
      text-align: center;
      .img-wrap {
        width: 100%;
        overflow: hidden;
        display: inline-block;
        height: 15rem;
        background-color: $base-txt-color;
      }
      .txt-cont {
        padding: 2.4rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        font-size: 1.8rem;
        strong {
          font-size: 2.4rem;
        }
      }
    }
  }
}
.bg-dark {
  .title {
    text-align: center;
    font-size: 1.8rem;
    color: $white-color;
  }
  background-color: #231f1e;
  border-radius: 4rem;
  margin: auto;
  width: 80rem;
  .intro-item {
    justify-content: center;
    li {
      .img-wrap {
        background-color: transparent;
      }
      background-color: $white-color;
    }
  }
}

.company-map {
  //카카오맵 설정시 스타일 수정
  width: 100%;
  max-width: 144rem;
  height: min(68rem, -vw(680));
  margin: 0 auto;
  background-color: #ddd;
  border-radius: -vw(12);
}
.creator-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 5.2rem;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.certific-box {
  width: 100%;
  max-width: 144rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: -vw(40);
  row-gap: -vw(80);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10rem;
  .cell {
    position: relative;
    text-align: center;
  }
  .img-wrap {
    position: relative;
    display: block;
    margin-bottom: 3.2rem;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 1.2rem;
      background-color: rgba(0, 0, 0, 0.03);
      z-index: 3;
    }
  }
  img {
    width: 100%;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.08), 0 3rem 3rem rgba(0, 0, 0, 0.04);
  }
  .name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.movie-box {
  max-width: 80rem;
  margin: 0 auto 10rem;
  iframe {
    width: 100%;
    height: 40rem;
    @include media-max-width(480) {
      height: 35rem;
    }
  }
}

/* 찾아오시는 길 페이지*/
.address-box {
  padding-top: 3rem;
  .address {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 3.6rem;
    @include media-min-width(1025) {
      font-size: 2.4rem;
      line-height: 5.6rem;
    }

    text-align: left;
  }
}

.notice-table {
  margin: 5rem auto 0;
  max-width: 120rem;
  overflow-x: auto;
  .table {
    min-width: 50rem;
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  @include media-min-width(1025) {
    margin: 10rem auto 0;
    th:nth-child(3),
    th:nth-child(4) {
      width: 15rem;
    }
  }
  th:first-child {
    width: 5rem;
  }
  th:nth-child(3) {
    width: 12rem;
  }
  th:nth-child(4) {
    width: 10rem;
  }
}
/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* tablet */
@media only screen and (max-width: 1440px) {
  .icon-card-box {
    > li {
      padding: 0 1rem;
    }
    .card {
      padding: 5rem 2rem;
      height: 32rem;
      i {
        height: 6rem;
      }
      ul {
        li {
          font-size: 1.6rem;
        }
      }
    }
  }
  .circle-progress {
    .step {
      strong {
        font-size: 2.8rem;
        margin-top: 1.8rem;
      }
    }
  }
}
/* mobile */
@media only screen and (max-width: 1024px) {
  .pc-break {
    display: none;
  }

  .mobile-break {
    display: inline-block;
  }

  .tit-box {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .subscript {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    word-break: break-all;
  }
  .circle-progress {
    margin: 8rem 0 0;
    margin-bottom: 1.7rem;
    ol {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1.2rem;
      width: auto;
      max-width: 35.3rem;
      padding-bottom: 0;
      margin: 0 auto;
    }
    .step {
      width: 17rem;
      height: 17rem;
      margin-bottom: 8.3rem;
      border-radius: 50%;
      font-size: 2.4rem;
      line-height: 3.2rem;
      .num {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
      .detail {
        padding-top: 16rem;
        border-radius: 8rem;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
  .icon-card-box {
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    width: auto;
    margin: 0 auto;
    > li {
      width: 100%;
      & + li {
        margin-top: 1.2rem;
      }
    }
    .card {
      width: 100%;
      max-width: 35.3rem;
      padding: 3rem 3.2rem;
      border-radius: 1.2rem;
      height: auto;
      margin: 0 auto;
      i {
        width: auto;
        height: 4rem;
        margin-bottom: 3.2rem;
      }
      strong {
        font-size: 1.8rem;
        line-height: 3.2rem;
      }
      ul {
        margin-top: 1.6rem;
        line-height: 2.6rem;
        li {
          padding-left: 1.3rem;
          font-size: 1.6rem;
          + li {
            margin-top: 0.8rem;
          }
          &::before {
            top: 1.05rem;
            width: 0.3rem;
            height: 0.3rem;
          }
        }
      }
    }
  }
  .arrow-progress {
    margin: 8rem 0;
    .title {
      font-size: 2.8rem;
      line-height: 3.8rem;
    }
    .progress {
      width: 100%;
      max-width: 28.9rem;
      height: 58.4rem;
      margin: auto;
      margin-top: 4rem;
      background: url(../images/service/bg-progress-arrow-rotate.png) no-repeat 10% top / 15.2rem 100%;
      &::before,
      &::after {
        content: none;
      }
      ul {
        flex-direction: column;
        gap: 2.5rem;
        top: 0;
        width: 15.6rem;
        padding-left: 9.15rem;
        padding-right: 0;
      }
      li {
        &:nth-child(n)::before {
          height: 1px;
          width: 6.5rem;
          margin-top: 5.6rem;
        }
        &:nth-child(n)::after {
          left: 0;
          top: 4.9rem;
          width: 1.2rem;
          height: 1.2rem;
        }
        p {
          top: 4rem;
          left: 5rem;
          transform: translateX(0);
          width: 12rem;
          height: 6.6rem;
          padding: 0 1.4rem;
          font-size: 1.8rem;
          text-align: center;
          justify-content: center;
          display: flex;
          align-items: center;
          line-height: 2.6rem;
        }
        &:nth-child(2n) {
          &::before {
            width: 8.7rem;
          }
          p {
            left: 8rem;
          }
        }
      }
    }
  }

  .card-step-box {
    width: 100%;
    max-width: 35.3rem;
    margin-bottom: 8rem;
    > ol {
      flex-direction: column;
      border-radius: 1.2rem;
    }
    .card {
      display: flex;
      + .card {
        border-left: 0;
        &::before {
          top: -1.6rem;
          left: 10.3rem;
          width: 3.2rem;
          height: 3.2rem;
          transform: rotate(90deg);
        }
      }
      &:last-child {
        .card-header,
        .card-body {
          border-bottom: 0;
        }
      }
      .sub-list li {
        padding-left: 1.3rem;
        + li {
          margin-top: 1rem;
        }
        &::before {
          width: 0.3rem;
          height: 0.3rem;
          top: 1.05rem;
        }
      }
      .card-header {
        position: static;
        width: 12rem;
        height: auto;
        padding: 3.2rem 2rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
      .card-body {
        flex: 1;
        padding: 2.4rem;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
  .footnote {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }

  .greeting-box {
    width: 100%;
    gap: 8rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    flex-direction: column;
    .object-img {
      width: 100%;
      height: 48.8rem;
      img {
        width: 31.2rem;
        height: 42rem;
        border-radius: 1.2rem;
      }
      &::before {
        width: 19rem;
        height: 4.6rem;
        top: 18rem;
        left: 5.4rem;
      }
      &::after {
        width: 24.4rem;
        height: 24.4rem;
        border-radius: 1.2rem;
      }
    }
    .txt-content {
      .title {
        margin-bottom: 4rem;
        font-size: 2.2rem;
        line-height: 3.6rem;
      }
      .subtit {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
      p {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        + .subtit {
          margin-top: 3.2rem;
        }
      }
    }
  }

  // 크리에이터
  .creator-title {
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .certific-box {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 2.4rem;
    margin-bottom: 5rem;
    .img-wrap {
      width: 17rem;
      height: 17rem;
      border-radius: 1.2rem;
      margin: 0 auto 1.6rem;
    }

    .name {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
  //찾아오시는길
  .address-box {
    .location-tab {
      width: 27.2rem;
      flex-wrap: wrap;
      column-gap: 3.3rem;
      row-gap: 1.2rem;
      margin: 0 auto;
      margin-bottom: 4rem;
      a {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
      .list + .list::before {
        left: -1.6rem;
        top: 0.3rem;
        width: 1px;
        height: 2rem;
      }
      .list:nth-child(4) {
        &::before {
          content: none;
        }
      }
    }
    .address {
      margin-bottom: 2.4rem;
      font-size: 2.2rem;
      line-height: 3.6rem;
    }
    .company-map {
      border-radius: 1.2rem;
      width: 100%;
      height: 42rem;
    }
    .traffic-box {
      width: 100%;
      flex-direction: column;
      border-radius: 1.2rem;
      gap: 4.8rem;
      margin-top: 2rem;
      padding: 3.2rem;
      .tit {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 1.2rem;
      }
      .txt {
        font-size: 1.6rem;
        line-height: 2.4rem;
        p + p {
          margin-top: 1.2rem;
        }
      }
      .bus {
        &::before {
          left: 0;
          top: -2.4rem;
          width: 100%;
          height: 2.4rem;
          border-top: 1px dashed #ddd;
          border-left: 0;
        }
        dl {
          gap: 0.8rem;
          + .flex {
            flex-direction: column;
            margin-top: 1.2rem;
          }
          + dl {
            margin-top: 1.2rem;
            margin-left: 0;
          }
        }
      }
    }
  }
}
