/*공통버튼*/
.btn {
  height: 7.2rem;
  min-width: 20rem;
  padding: 2.3rem 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: center;
  &:hover {
    background-color: #fafafb;
  }
  &.btn-green {
    background-color: $green-color;
    border-color: $green-color;
    color: #fff;
    &:hover {
      background-color: #309527;
      border-color: #309527;
    }
  }
  &.btn-gray {
    background-color: #808285;
    border-color: #808285;
    color: #fff;
    &:hover {
      background-color: #595d63;
      border-color: #595d63;
    }
  }
  &.small {
    min-width: 11.8rem;
    height: 5.8rem;
    padding: 1.6rem 1.2rem;
  }
}

// 더보기버튼
.btn-more {
  height: 8rem;
  width: 30rem;
  padding: 1.6rem 2rem;
  border-radius: 1.2rem;
  border: 1px solid #ccc;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
  color: #999;
}

// 하단 가운데정렬 버튼박스
.btn-bottom-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 1024px) {
  .btn-bottom-box {
    .btn {
      flex: 1;
      min-width: 17.2rem;
      height: 6rem;
      line-height: 1.2rem;
    }
  }
}
